.logout .lander {
    padding: 80px 0;
    text-align: center;
  }
  
  .logout .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }
  
  .logout .lander p {
    color: #999;
  }