
.tableList {
    margin-top: 20px;
    border-collapse: collapse; 
    background: #f0f0f0;
    border: solid red 1px;
}
 
.tableList tr:nth-child(even){
    background: #ddd;
}

.tableList tr.even {
    background: red;
}