
.tableList {
    margin-top: 20px;
    border-collapse: collapse; 
    background-color: #ebebeb;
    border: solid red 1px;
}
 
.tableList tr:nth-child(even){
    background-color: #ddd;
}

.tableList tr.even {
    background: red;
}